<form method="GET" action="{% url 'mypage' user.id %}">
    <h1>마이페이지입니다.</h1>
    {% if user.is_active %}
    <p>{{user.username}}님 환영합니다.</p>
        <p>이름 : {{ user.username }}</p>
        <p>나이 : {{ user.age }}</p>
        <p>주소 : {{ user.address }}</p>
        <p><img src="{{ account.image.url }} user.id" width="250" height="250" alt="image"></p>
        <li><a href="{% url 'user_change' %}">마이페이지 수정</a></li>
        <button><a href="{% url 'logout' %}">로그아웃</a></button>
    {% else %}
    <li><a href="{% url 'login' %}">로그인</a></li>
    <li><a href="{% url 'signup' %}">회원가입</a></button></li>
    {% endif %}
</form>