{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>백엔드 회원가입</title>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    <style>
        .header {
    height: 80px;
    background:rgb(255,203,203);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index:-2;
    padding: 0;
    margin: 0;
}

footer {
    background: #333;
    height: 200px;
    margin: 0;
    padding: 0;
    z-index: -1;
}
    </style>
</head>
<body>
    <div class="header">

    </div>

</html>
<h1>회원가입</h1>
<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">가입</button>
</form>

</body>
<footer></footer>
</html>