*{
    box-sizing: border-box;
}

.modal-background{
    position: fixed;
    background-color: palevioletred;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    line-height: 150%;
    text-align:center;
    border: dotted 2px white;
    box-shadow:2px 3px 5px 0px hotpink;
   
}

.modal-editpage {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    width: 30rem;
    height: 25rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0 1rem black;
    text-align: center;
    border: dotted 1px white;
}

.btn-close{
    position:absolute;
    top: 1rem;
    right: 1rem;
    font-size:2em;
    color: white;
    text-shadow: hotpink 1px 0 10px;
}


.modal-background.active{
    display: block;
    width:50%;
    height:70%;

}

#modal-active{
    display:table;
    margin: 0 auto;
    position:relative;
    top: 1.5em;
    font-size: 3em;
    font-weight:bold;
    font-family: 'HoengseongHanu';
}
