*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    justify-content :center;
    align-items: center;
    height: 100vh;
  }
  
  .heart{
    position: absolute;
    height: 40px;
    width: 40px;
    background: red;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 0 10px;
    transform: rotate(-45deg);
    cursor: pointer;
  }
  
  
  .heart.fill-color{
    background-color: red;
  }
  
   
  .heart::before{
    position: absolute;
    content: "";
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
  }
  
  .heart::after{
    position: absolute;
    content: "";
    right: -50%;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 50%;
  }
  
  .animation-heart{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background:#c9c9c9;
    transform: rotate(-45deg);
    border-radius: 0 0 0 10px;
    cursor: pointer;
  }

  .animation-heart::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: -50%;
    right: 0;
    background: inherit;
    border-radius: 50%;
}

.animation-heart.animation{
  visibility:visible;
}

.animation-heart::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0%;
    right: -50%;
    background: inherit;
    border-radius: 50%;

}
