section {
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
  }
  
  section .card {
    display: flex;
    position: relative;
    width: 300px;
    height: 380px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0, 0.025);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    left: 50%;
    transition: background 0.5s;

  }
  
  section .card .c_ontent,
  section .card .imgText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
  section .card {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  section .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .toggle{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    background: pink;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  section.dark{
    background: #24292d;
  }

  section.dark .card{
    background: #323840;
  }

  section.dark .card {
    background: #ccc;
  }

  section.dark .togglen{
    background: #404852;
  }
  
  section{
    background: #f0f8ff;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
  }

  section .card{
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0 15 25 gray;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
  }

  .toggle::before{
    content: "\f186";
    color: orange;
  }

  section.dark .toggle::before {
    content: "\f185";
    color: #fff;
  }
  section.dark.div{
    background-color: #24292d;
  }

  section.dark .header{
    background-color: skyblue;

  }

  section.dark .changing_fontcolor{
    color: white;
  }

  section.dark .title{
    color: orange;
  }

  section.dark .timetimetime{
      background-color:darkslategrey;
      color:green; 
      -webkit-text-stroke: 1px darkgreen;
  }

  section.dark .sidebar{
    background: white;
  }

  section.dark #modal-active{
    background-color: darkslategrey;
    color: white;
  }