.header {
    height: 80px;
    background:rgb(255,203,203);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index:3;
}

footer {
    background: #333;
    height: 200px;
    margin: 0;
    padding: 0;
}