@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#time{
    font-family: 'HBIOS-SYS';
    background-color:black;
    color:red; 
    -webkit-text-stroke: 1px darkred;
    text-align: center; 
}