@font-face {
    font-family: 'HoengseongHanu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/HoengseongHanu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body{
    font-family: 'HoengseongHanu';
    margin: 0;
    display:column;
    overflow-y:scroll;
}

.sidebar{
    background: black;
    width: 10%;
    height: 250px; 
    position: sticky;
    top: 0;
    float: right;
    font-size: 12px;
    text-align: center;
    padding-top:10px;
    z-index:11;
}

a{
    text-decoration:none;
    color: white;
}

li{
    list-style:none;
    list-style-type:none;
}

.header {
    height: 80px;
    background:rgb(255,203,203);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index:3;
}

.soge {
    width: 100%;
    background: #f5f5f5;
    margin: 0%;
    padding: 0%;
    text-align: center;
    
}

footer {
    background: #333;
    height: 200px;
}


.img_{
    width: 55em;
    height: 44em;
    margin:auto;
    display: flex;

}

.soge2 {
    width: 100%;
    background:rgb(66,149,242);
    margin: 0%;
    padding: 0%;
    text-align: center;
    
}

.img__{
    width: 40em;
    height: 30em;
    margin:auto;
    margin-top: 2em;
    display: flex;

}

html, body, div, span,  h1, h2, em, img, 
ul, li,
footer, header, menu, mark {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul{
    list-style:none;
}
.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;

}
.container{
    width:600px;
    height:400px;
    position: relative;
    background-color: antiquewhite;
    overflow: hidden;
}
.slider{
    display: flex;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
}
.item{
    width:100%;
    height:400px;
    background-color: black;
    font-size: 35px;
    text-align: center;
}

.container ul{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

h1{
    text-align:center;
    font-size:50px;
}

.yeb{
    width:100%;
    height:100%;
}

h3{
    text-align:center;
    padding-top: 100px;
}
#first_img{
    width: 55em;
    height: 44em;
    margin:auto;
    display: flex;
    z-index:-1;
}

.img-cover{
    position: absolute;
    height: 80%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    left:1em;
    top: 2em;
 } 

 .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:5rem;
    color: black;
    z-index: 1;
    text-align: center;
}