.hide{
    display: none;
}

.failure-message,
.mismatch-message,
.misnumber-message {
    color: red;
}

.success-message,
.match-message{
    color: blue;
}

.style0,
.style1{
    color: grey;
}

h1{
    color:black;
    text-align: center;
    font-size: 35px;
    margin-bottom: 1.5em;
    padding-top: 1em;
}

fieldset{
    margin: 2%;
    border: 0;
}

form{
    background-color: whitesmoke;
    font-size: 20px;
    width: 55%;
    margin: auto;
    height: 30em;
    line-height:150%;
    padding-top: 10px;
}

body{
    background-color: rgb(255,203,203);
    overflow: hidden;
    
}

text{
    margin: 10%;
}
.sidebar{
    font-family: 'HoengseongHanu';
    background: black;
    width: 10%;
    height: 200px; 
    top: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
    text-align: center;
    padding-top:10px;
}

a{
    color: white;
    text-align: center;
    text-decoration: none;
}

div{
    margin: 0;
    padding:0;
}