{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>멋사 과제입니당</title>
    <link href="wow.css" rel="stylesheet">
</head>
<body>
<div>
    <div class="header">
        <h1>🌹🌷성공회대 소개🌹🌷</h1>
    </div>
        <div class="sidebar">
            <ul>
                <li><a href="https://www.skhu.ac.kr/sites/doh/index.do">인문융합자율학부</a></li>
                <li><a href="https://www.skhu.ac.kr/sites/doss/index.do">사회융합자율학부</a></li>
                <li><a href="https://www.skhu.ac.kr/sites/domc/index.do">미디어콘텐츠융합자율학부</a></li>
                <li><a href="https://www.skhu.ac.kr/sites/doit/index.do">it융합자율학부</a></li>
         </ul>
        </div>
        <div class="soge">
            <div class="skhu2">
                <img class="img_" src="https://cdn.news.unn.net/news/photo/202207/530856_335577_5956.jpg">
                <h2>성공회대?</h2>
                <div class="introduce">
                    <p><mark>성공회대학교(聖公會大學校, Sungkonghoe University)</mark>는 대한민국 서울특별시 구로구에 위치한 성공회계열 사립대학이다.<br>
                    약칭은 회대이며, 영문약칭은 SKHU이다.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="soge2">
            <div class="skhu2">
                <img class="img__" src="https://t1.daumcdn.net/cfile/tistory/99DF3E405AAFADDF07">
                <h2>유명인사</h2>
                <div class="CUTE">
                    <p>회냥이</p>
                    <p>달님이</p>
                </div>
            </div>
        </div>
        <hr>
        <h3>Gallery</h3>
        <div class="wrapper">
            <div class="container">
                <ul class="slider">
                    <li class="item">
                        <img src="https://www.lifein.news/news/photo/202110/13257_17028_344.jpg"
                        class="yeb">
                    </li>
                    <li class="item">
                        <img src="https://cdn.korea.khetimes.com/news/photo/202103/684_638_5359.jpg" class="yeb">
                    </li>
                    <li class="item">
                        <img src="https://www.skhu.ac.kr/intro/images/logo.png" class="yeb">
                    </li>
                    <li class="item">
                        <img src="https://thumb.mt.co.kr/06/2021/06/2021062314097469805_1.jpg/dims/optimize/" class="yeb">
                    </li>
                    <li class="item">
                        <img src="https://culture.skhu.ac.kr/sites/culture/atchmnfl_mngr/imageSlide/42/temp_1655801491631100.jpg" class="yeb">
                    </li>
                </ul>
            </div>
        </div>

</div>    
<script src="hi.js"></script>
</body>
<footer></footer>
<audio src='audio/LP1607180062_이혜린_Tongtong.wav' controls loop>
    해당 브라우저는 audio 태그를 지원하지 않습니다.
</audio>

</html>
